/* apps/frontend/src/assests/css/styles.css */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color:  white;
  }
  
  .container {
    max-width: 700px;
    margin: auto;
    padding: 1rem;
  }
  
  h2 {
    color: #222;
  }
  
  button {
    transition: all 0.2s ease;
  }
  
  .step {
    animation: fadeIn 0.4s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  